<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hola!{% endblock %}</title>

        {% stylesheets filter="compass"
            "@CompetitionFrontendBundle/Resources/sass/main.sass"
            "@CompetitionUserBundle/Resources/sass/user.sass"
            "@CompetitionFrontendBundle/Resources/sass/_base.sass"
            "@CompetitionBlogBundle/Resources/sass/blog.sass"
            "../app/Resources/sass/app.sass"
            "../app/Resources/sass/screen.sass"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}



        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% javascripts
            "../app/Resources/public/js/foundation/custom.modernizr.js"
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>

    <body>
        {# {% render 'CompetitionFrontendBundle:Page:userBar' %} #}
        {% render controller('CompetitionFrontendBundle:Page:userBar') %}

        {% block fos_user_content %}{% endblock %}
        {% block body %}{% endblock %}
        {% include '::footer.html.twig' %}
        {% javascripts
            "../app/Resources/public/js/foundation/jquery.js"
            "../app/Resources/public/js/foundation/foundation.min.js"
            "../app/Resources/public/js/foundation/jquery.cookie.js"
            "../app/Resources/public/js/foundation/jquery.event.move.js"
            "../app/Resources/public/js/foundation/jquery.event.swipe.js"
            "../app/Resources/public/js/foundation/jquery.offcanvas.js"
            "../app/Resources/public/js/foundation/jquery.placeholder.js"
            "@CompetitionFrontendBundle/Resources/public/js/default.js"
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
