<div class="row footer">
    <div class="three columns">
        <h3><small>{% trans %}footer.aboutus{% endtrans %}</small></h3>
        <a href=" {{ path('competition_frontend_about') }}">{% trans %}about.us.title{% endtrans %}</a>
    </div>
    <div class="three columns">
        <h3><small>{% trans %}footer.help{% endtrans %}</small></h3>
    </div>
    <div class="three columns">
        <h3><small>{% trans %}footer.contact{% endtrans %}</small></h3>
    </div>
    <div class="three columns">
        <h3><small>{% trans %}footer.play{% endtrans %}</small></h3>
    </div>
</div>
