{% extends app.request.isXmlHttpRequest ? '::ajax.html.twig' : '::base.html.twig' %}

{% block fos_user_content %}
    {% if not app.request.isXmlHttpRequest %}
        <div id="login-form" class="row">
            <div class="six columns centered">
                {% endif %}
                <h3>{% trans %}login.successful.title{% endtrans %}</h3>
                <p>{% trans %}login.successful.text{% endtrans %}</p>
                <a class="small button" href="{{ path('competition_frontend_homepage') }}">{% trans %}back.home{% endtrans %}</a>
                {% if not app.request.isXmlHttpRequest %}
            </div>
        </div>
    {% endif %}
{% endblock fos_user_content %}