<div class="row">

    <div id="registration-form" class="six columns centered">
        <h3>{% trans %}register.title{% endtrans %}</h3>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div>
                <input class="small button" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
</div>
