{% extends 'CompetitionFrontendBundle::layout.html.twig'%}

{% block content %}
    <div class="row"
        <h2>{% trans %}Índice{% endtrans %}</h2>
        <h3>{% trans %}Título{% endtrans %} 2</h3>
    </div>
{% endblock %}