{% extends 'CompetitionFrontendBundle::layout.html.twig'%}

{% block content %}
    <h1>Index</h1>
    <h2>Título 2</h2>
    <a href=" {{ path('competition_frontend_about') }}">Sobre nosotros

    <div class="row">
        <div class="four columns">
            .four.columns
        </div>
        <div class="four columns">
            .four.columns
        </div>
        <div class="four columns">
            .four.columns
        </div>
    </div>
{% endblock %}