{% extends 'CompetitionFrontendBundle::layout.html.twig'%}

{% block content %}
    <h1>{% trans %}Índice{% endtrans %}</h1>
    <h2>{% trans %}Título{% endtrans %} 2</h2>
    <a href=" {{ path('competition_frontend_about') }}">Sobre nosotros</a>

    <div class="row">
        <div class="four columns">
            .four.columns
        </div>
        <div class="four columns">
            .four.columns
        </div>
        <div class="four columns">
            .four.columns
        </div>
    </div>
{% endblock %}